<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Change Password</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/noui/nouislider.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <style>
      table {
        width: 100%;
        padding-right: 10px;
      }
      .sidebar-container {
        position: fixed;
        width: 260px;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
        background: #1a1a1a;
        color: #fff;
      }
      .content-container {
        padding-top: 20px;
      }
      .sidebar-logo {
        padding: 0 auto;
        background: #1a1a1a;
        height: auto;
      }
      .sidebar-navigation {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
      }
      .sidebar-navigation li {
        background-color: transparent;
        position: relative;
        display: inline-block;
        width: 100%;
        line-height: 20px;
      }
      .sidebar-navigation li a {
        padding: 10px 15px 10px 30px;
        display: block;
        color: #fff;
      }
      .sidebar-navigation li .fa {
        margin-right: 10px;
      }
      .sidebar-navigation li a:active,
      .sidebar-navigation li a:hover,
      .sidebar-navigation li a:focus {
        text-decoration: none;
        outline: none;
      }
      .sidebar-navigation li::before {
        background-color: #2574a9;
        position: absolute;
        content: "";
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        width: 3px;
        z-index: -1;
      }
      .sidebar-navigation li:hover::before {
        width: 100%;
      }
      .sidebar-navigation .header {
        font-size: 12px;
        text-transform: uppercase;
        background-color: #151515;
        padding: 10px 15px 10px 30px;
      }
      h6 {
        font-size: 18px;
        line-height: 25px;
      }
      .sidebar-navigation .header::before {
        background-color: transparent;
      }
      .content-container {
        padding-left: 220px;
      }
    </style>
    <!--===============================================================================================-->
  </head>

  <body>
    <div class="full_height" style="display: flex; flex-direction: column;">
      <div class="pos-f-t" style="background-color: #1a1a1a;">
        <!-- <div class="collapse" id="navbarToggleExternalContent">
          
      </div> -->
        <nav class="navbar navbar-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div>
            <h4 class="text-white">
              Pulze
              <small
                class="text-white"
                style="font-family: cursive; font-size: 15px;"
                >Giveaway</small
              >
            </h4>
          </div>
        </nav>
      </div>
      <div class="sidebar-container">
        <div class="sidebar-logo text-center">
          <br /><br />
          <!-- <img src="/images/icons/LOGO.png" width="100%" height="auto" /> -->
        </div>
        <br />
        <%- include('../layouts/sidebar') -%>
      </div>
      <div class="container-contact100">
        <div class="wrap-contact100">
          <!-- <form class="contact100-form validate-form"> -->
          <span class="contact100-form-title">
            Edit Admin Credential
          </span>

          <div class="wrap-input100 bg1">
            <span class="label-input100">Current Password *</span>
            <input
              class="input100"
              type="password"
              name="current_password"
              id="current_password"
              placeholder="Enter Current Password"
            />
          </div>
          <div class="wrap-input100 bg1">
            <span class="label-input100">New Password *</span>
            <input
              class="input100"
              type="password"
              name="new_password"
              id="new_password"
              placeholder="Enter New Password"
            />
          </div>
          <div class="container-contact100-form-btn">
            <button
              class="btn contact100-form-btn"
              type="button"
              id="btnChange"
            >
              <span>
                Update Credential
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>

    <%- include('../layouts/foot') -%>
    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="js/jquery.js"></script> -->
    <script src="/js/moment.min.js"></script>
    <script src="/js/combodate.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script>
      $("document").ready(function () {
        $("#btnChange").click(function () {
          if (
            $("#current_password").val() === "" ||
            $("#new_password").val() === ""
          ) {
            swal("Password Fields are empty.");
            return false;
          }
          let current_pass = $("#current_password").val();
          let new_pass = $("#new_password").val();
          let data = {
            current_pass,
            new_pass,
          };

          $.ajax({
            method: "POST",
            url: "/api/v1/admin/changepassword",
            headers: { Authorization: "Bearer " + Cookies.get("token") },
            data,
          })
            .then((d) => {
              if (d.code === 200) {
                swal({
                  title: d.message,
                  buttons: false,
                  timer: 3000,
                }).then(() => {
                  location.replace("/logout");
                });
              }
              if (d.code === 403) {
                swal({
                  title: d.message,
                  buttons: false,
                  timer: 3000,
                }).then(() => {
                  location.replace("/admin/changepassword");
                });
              }
            })
            .fail((e) => {
              swal({
                title: `${e.responseJSON.message}`,
              });
            });
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
  </body>
</html>
