<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=100%, initial-scale=1.0" />
    <title>Events</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->

    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />

    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--===============================================================================================-->

    <style>
      table {
        width: 100%;
        padding-right: 10px;
      }
      .sidebar-container {
        position: fixed;
        width: 260px;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: #1a1a1a;
        color: #fff;
      }
      .content-container {
        padding-top: 20px;
      }
      .sidebar-logo {
        padding: 0 auto;
        background: #1a1a1a;
        height: auto;
      }
      .sidebar-navigation {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
      }
      .sidebar-navigation li {
        background-color: transparent;
        position: relative;
        display: inline-block;
        width: 100%;
        line-height: 20px;
      }
      .sidebar-navigation li a {
        padding: 10px 15px 10px 30px;
        display: block;
        color: #fff;
      }
      .sidebar-navigation li .fa {
        margin-right: 10px;
      }
      .sidebar-navigation li a:active,
      .sidebar-navigation li a:hover,
      .sidebar-navigation li a:focus {
        text-decoration: none;
        outline: none;
      }
      .sidebar-navigation li::before {
        background-color: #2574a9;
        position: absolute;
        content: "";
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        width: 3px;
        z-index: -1;
      }
      .sidebar-navigation li:hover::before {
        width: 100%;
      }
      .sidebar-navigation .header {
        font-size: 12px;
        text-transform: uppercase;
        background-color: #151515;
        padding: 10px 15px 10px 30px;
      }
      h6 {
        font-size: 18px;
        line-height: 25px;
      }
      .sidebar-navigation .header::before {
        background-color: transparent;
      }
      .content-container {
        padding-left: 220px;
      }
    </style>
  </head>

  <body>
    <div class="pos-f-t" style="background-color: #1a1a1a;">
      <!-- <div class="collapse" id="navbarToggleExternalContent">
              
          </div> -->
      <nav class="navbar navbar-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div>
          <h4 class="text-white">
            Pulze
            <small
              class="text-white"
              style="font-family: cursive; font-size: 15px;"
              >Giveaway</small
            >
          </h4>
        </div>
      </nav>
    </div>
    <div class="sidebar-container">
      <div class="sidebar-logo text-center">
        <br /><br />
        <!-- <img src="/images/icons/LOGO.png" width="100%" height="auto" /> -->
      </div>
      <br />
      <%- include('../layouts/sidebar') -%>
    </div>
    <div class="container">
      <div class="col-md-10 col-sm-10">
        <table
          id="uTable"
          class="table table-striped table-bordered"
          style="width: 100%;"
        >
          <thead>
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Sponsor Name</th>
              <th>Download</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
      function updateSentiment(id) {
        $("#u_id").val(id);
      }
      let uTable;
      $(document).ready(function () {
        uTable = $("#uTable").DataTable({
          processing: true,
          paging: true,
          dom:
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'i><'col-sm-8'<'float-right p-2'p>>>",
          ajax: {
            url: "/api/v1/event/",
            // beforeSend: function (request) {
            //     request.setRequestHeader("access_token", $.cookie("access_token"));
            // },
            dataFilter: (data) => {
              let json = JSON.parse(data);
              json.recordsTotal = json.total;
              json.recordsFiltered = json.total;
              return JSON.stringify(json);
            },
            data: function (d) {
              return $.extend(
                {},
                { start: d.start, limit: d.limit, total: d.length }
              );
            },
          },
          columns: [
            {
              data: null,
              class: "text-center",
              render: (d, type, row, meta) => {
                return new Date(d.date).toLocaleDateString();
              },
            },
            {
              data: "location",
            },
            {
              data: "sponsor_name",
            },
            {
              data: null,
              class: "text-center",
              render: (d, type, row, meta) => {
                return `<button type="button" class="btn btn-light" title="Download" onclick="window.location.replace('/api/v1/event/download/${d._id}')"> Download</button>`;
              },
            },
            {
              data: null,
              class: "text-center",
              render: (d, type, row, meta) => {
                return `<button type="button" class="btn btn-dark" title="Detail" onclick="window.location.replace('/event/update/${d._id}')"><i class="fa fa-edit"></i> Detail</button>`;
              },
            },
          ],
        });
      });
    </script>
  </body>
</html>
