<div class="footer">
  <div class="container">
    <div class="row d-flex align-items-center" style="padding-top: 5px;">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3">
        <!--Copyright-->
        <p class="text-center text-md-left">
          <a href="https://onpulze.com/tnc/" style="color: white;">
            <b><u>Terms & Conditions</u></b>
          </a>
        </p>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3">
        <p class="text-center text-md-left">
          <a href="https://onpulze.com/" style="color: white;">
            <b><u>Main Pulze Webpage</u></b>
          </a>
        </p>
      </div>

      <!-- Grid column -->
      <div class="col-md-6 col-lg-6 ml-lg-0">
        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              Copyright Dev Hse pte. ltd, 2020
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>

<!-- <div class="row" style="padding-left: 8%;">
    <div class="col-md-4 col-lg-4">
      <img
        src="https://www.google.com/gmail/about/static/images/logo-gmail.png?cache=3218fbf"
        width="70px"
        height="auto"
      />
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="sponsorname">
        <b
          ><u>
            Google Corporation
          </u>
        </b>
      </div>
      <div class="sponsoraddress">
        Los Angeles,California USA
      </div>
    </div>
  </div> -->
