<ul class="sidebar-navigation">
  <li>
    <a href="/">
      <h6><i class="fa fa-home" aria-hidden="true"></i>Homepage</h6>
    </a>
  </li>
  <li>
    <a href="/admin/content/update">
      <h6><i class="fa fa-clipboard" aria-hidden="true"></i>Update Content</h6>
    </a>
  </li>
  <li>
    <a href="/admin/event/add">
      <h6><i class="fa fa-users" aria-hidden="true"></i>Add event</h6>
    </a>
  </li>

  <li>
    <a href="/admin/event/list">
      <h6><i class="fa fa-star" aria-hidden="true"></i>View Events</h6>
    </a>
  </li>

  <li>
    <a href="/logout">
      <h6><i class="fa fa-info-circle" aria-hidden="true"></i>Logout</h6>
    </a>
  </li>
</ul>
