<div class="row mobileviewicon">
  <div class="col-md-5 order-md-1 pr-md-12 col-sm-12">
    <img
      src="/images/icons/storesimage.jpeg"
      width="auto"
      height="auto"
      class="img-fluid"
    />
  </div>
  <div class="col-md-7 order-md-1 pr-md-12 col-sm-12" style="display: inline;">
    <span>
      <a id="linkapple">
        <img
          src="https://onpulze.com/wp-content/uploads/2020/05/apple-app-store-badge1-300x116.png"
          style="vertical-align: middle; display: block;"
      /></a>
    </span>
    <span>
      <a id="linkgoogle"
        ><img
          src="https://onpulze.com/wp-content/uploads/2020/05/google-play-badge-300x116.png"
          style="vertical-align: middle; display: block;"
      /></a>
    </span>
  </div>
</div>
