<div class="row" style="padding-left: 6%; padding-right: 6%;">
  <div class="col-md-5 order-md-1 pr-md-12 col-sm-12">
    <img
      src="/images/icons/storesimage.png"
      width="auto"
      height="auto"
      class="img-fluid"
    />
  </div>
  <div class="col-md-7 order-md-1 pr-md-12 col-sm-12">
    <div class="row" style="max-height: 121px;">
      <a id="linkapple">
        <img
          src="/images/icons/appstore_256x256.png"
          width="auto"
          height="auto"
      /></a>
    </div>
    <div class="row">
      <a id="linkgoogle"
        ><img
          src="/images/icons/playstore_256x256.png"
          width="auto"
          height="auto"
      /></a>
    </div>
  </div>
</div>
