<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0  shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>Pulze</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="/images/icons/logo.jpeg" width="100px" height="auto" />
      </a>
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-nav ml-auto">
          <a class="nav-link" href="/admin/event/list">Admin Login</a>
        </span>
      </div> -->
    </nav>
    <div class="container-fluid lay">
      <main id="content" class="bd-masthead" role="main">
        <div class="container">
          <div class="row">
            <div class="col-md-12 order-md-1 text-center pr-md-5">
              <img id="headerimg" class="img-fluid" />
              <div class="headingtext">
                <h1 id="headingtext"></h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <p>
                  All of us here at Pulze want to give our sincere thanks to all
                  you Doctors, Nurses, Lab Techs, and all other hardworking
                  frontliners bearing the risks to keep us safe from COVID-19.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <p>
                  To show our gratitude, we’re organising lunch giveaways to all
                  medical staff working at specific hospitals and medical
                  centres.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 text-center pr-md-5">
              <div class="boldbox1">
                <h3>
                  For sponsors looking to contribute,
                  <span
                    data-toggle="modal"
                    data-target="#contactModal"
                    style="cursor: pointer;"
                    ><u><strong>please click here</strong></u></span
                  >
                </h3>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <b>Our Giveaway Schedule:</b>
              </div>
            </div>
          </div>
          <div class="row" style="box-sizing: border-box;">
            <div class="maingrid"></div>
          </div>

          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <b><u>About the #ThankYouFrontLiners giveaway</u></b>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <p>
                  The #ThankYouFrontLiners giveaway is a free lunch programme
                  that delivers free packed lunches to doctors, nurses and other
                  medical professionals as a thank you for their hard work in
                  keeping us save during this COVID-19 medical crisis.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <p>
                  Food will be delivered to the specified hospital completely
                  free. If you are working at the specified hospital, all you
                  need to do is to book your meal on this website, and your free
                  meal will be sent to you. This lunch giveaway is completely
                  free of cost or obligations. We just want to do our part to
                  help you, as a thank you for your hard work.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <b><u>Help Sponsor the Giveaway</u></b>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <p>
                  We’re always looking for sponsors to help us show our
                  appreciation to medical frontliners. If you’d like to
                  participate and sponsor lunches for medical professionals,
                  we’d love to speak to you.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 text-center pr-md-5">
              <div
                class="button1"
                data-toggle="modal"
                data-target="#contactModal"
              >
                <button type="button" class="btn btn-primary btn-lg btnall">
                  <b>Get in Touch</b>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                <b><u>About Pulze</u></b>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 order-md-1 pr-md-5">
              <div class="firstp">
                Pulze is a medical community app that connects verified medical
                professionals together with their peers securely and
                anonymously.
                <br /><br />
                With Pulze, you can chat with your colleagues, peers and alumni,
                anonymously, and with confidence, knowing that the credentials
                and identities of everyone you are connected to have been
                verified.
                <br /><br />
                Download the Pulze app now to get in touch with your fellow
                medical professionals as well as your University alumni!
              </div>
            </div>
          </div>
          <%- include('layouts/store') -%>
        </div>
      </main>
    </div>
    <br />
    <br />
    <%- include('layouts/footer') -%>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js"></script>

    <script>
      $("#contactModal").on("show.bs.modal", function (event) {});
      $("document").ready(function () {
        $("#msg").hide();

        $.ajax({
          method: "GET",
          url: "/api/v1/general/",
        }).done((d) => {
          $("#headingtext").text(d.text);
          $("#headerimg").attr("src", d.image);
          $("#linkapple").attr("href", d.appstore_link);
          $("#linkgoogle").attr("href", d.playstore_link);
        });

        $.ajax({
          method: "GET",
          url: "/api/v1/event/getlatestevent",
        }).done((d) => {
          $.each(d, function (i, val) {
            let e = new Date(val.date);
            e = e.toLocaleString("en-US", { hour: "numeric", hour12: true });
            e = e.slice(-2);

            if (val.result === 1) {
              $(".maingrid").append(
                ` <div class="cards">
                 
                  <div class="innercard">
                  <div class="innercard1 text-center">
                    <div class="location"><b>${val.location}</b></div>
                    <div class="eventdate">
                      <b><u>${moment(new Date(val.date)).format("LL")}</u></b>
                    </div>
                  </div>
                  <div class="innercard2">
                    <div class="comment text-center">
                      ${
                        new Date(val.date).getHours() +
                        ":" +
                        new Date(val.date).getMinutes() +
                        e
                      },${val.comment}
                    </div>
                    <div class="subhead"><b>Sponsored by:</b></div>
                    <div class="row" style="padding-left: 5%;">
                      <div class="col-md-4 col-lg-4 col-sm-3">
                        ` +
                  (val.sponsor_logo
                    ? `<img
                          src="${val.sponsor_logo}"
                          width="70px"
                          height="auto"
                        />`
                    : `<div></div>`) +
                  `
                      </div>
                      <div class="col-md-8 col-lg-8 col-sm-8">
                        <div class="sponsorname">
                          <b
                            ><u>
                              ${val.sponsor_name}
                            </u>
                          </b>
                        </div>
                        <div class="sponsoraddress">
                          ${val.sponsor_address}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-11 col-lg-11">
                      
                        <button
                          type="button"
                          class="btn btn-danger btn-sm btnall"
                          style="float: right;"
                          disabled
                        >
                          <b>Fully Booked</b>
                        </button>
                     
                      </div>
                      <!-- <div class="col-md-5 col-lg-5"></div> -->
                    </div>
                  </div>
                
            
                
              </div>`
              );
            }
            if (val.result === 0) {
              $(".maingrid").append(
                ` <div class="cards">
                <div class="innercard">
                  <div class="innercard1 text-center">
                    <div class="location"><b>${val.location}</b></div>
                    <div class="eventdate">
                      <b><u>${moment(new Date(val.date)).format("LL")}</u></b>
                    </div>
                  </div>
                  <div class="innercard2">
                    <div class="comment text-center">
                      ${
                        new Date(val.date).getHours() +
                        ":" +
                        new Date(val.date).getMinutes() +
                        e
                      },${val.comment}
                    </div>
                    <div class="subhead"><b>Sponsored by:</b></div>
                    <div class="row" style="padding-left: 5%; height: 26%">
                      <div class="col-md-4 col-lg-4 col-sm-3">
                        ` +
                  (val.sponsor_logo
                    ? `<img
                          src="${val.sponsor_logo}"
                          width="70px"
                          height="auto"
                        />`
                    : `<div></div>`) +
                  `
                      </div>
                      <div class="col-md-8 col-lg-8 col-sm-8">
                        <div class="sponsorname">
                          <b
                            ><u>
                              ${val.sponsor_name}
                            </u>
                          </b>
                        </div>
                        <div class="sponsoraddress">
                          ${val.sponsor_address}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-11 col-lg-11">
                        <a href="/event/${val._id}">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm btnall"
                          style="float: right;"
                        >
                          <b>Book Now</b>
                        </button>
                        </a>
                      </div>
                      <!-- <div class="col-md-5 col-lg-5"></div> -->
                    </div>
                  </div>
                </div>
              </div>`
              );
            }
          });
        });

        $("#frmsponsor").click(function () {
          $("#msg").hide();
        });
        $("#btnsend").click(function (e) {
          e.preventDefault();
          if (
            $("input[name='name']").val() === "" ||
            $("input[name='mobile_number']").val() === "" ||
            $("input[name='date_to_sponsor']").val() === "" ||
            $("input[name='number_of_meals']").val() === ""
          ) {
            $("#msg").html("Please enter all your details");
            $("#msg").show();
            return false;
          }
          $(this).prop("disabled", true);
          let data = {
            name: $("input[name='name']").val(),
            mobile_number: $("input[name='mobile_number']").val(),
            date_to_sponsor: $("input[name='date_to_sponsor']").val(),
            number_of_meals: $("input[name='number_of_meals']").val(),
          };
          $.ajax({
            url: "/api/v1/general/sendcontactemail",
            method: "POST",
            data,
          })
            .done(function (data) {
              swal({
                title: `${data.message}`,
                buttons: false,
                timer: 3000,
              }).then(() => {
                location.replace("/ ");
              });
            })
            .fail(function (err) {
              $("#msg").html(err.responseJSON.message);
              $("#msg").show();
            });
        });
      });
    </script>
  </body>
</html>

<div
  class="modal fade"
  id="contactModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Form</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="frmsponsor">
          <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="form-group">
            <label for="mobile-number" class="col-form-label"
              >Mobile Number:</label
            >
            <input
              type="number"
              class="form-control"
              id="mobile-number"
              name="mobile_number"
              required
            />
          </div>
          <div class="form-group">
            <label for="date-to-sponsor" class="col-form-label"
              >Date to Sponsor :</label
            >
            <input
              type="date"
              class="form-control"
              id="date-to-sponsor"
              name="date_to_sponsor"
              required
            />
          </div>
          <div class="form-group">
            <label for="number-of-meals" class="col-form-label"
              >Number of meals :</label
            >
            <input
              type="text"
              class="form-control"
              id="number-of-meals"
              name="number_of_meals"
              required
            />
          </div>
        </form>
      </div>
      <div class="form-group">
        <div
          id="msg"
          class="alert alert-danger"
          role="alert"
          style="
            color: #90010f;
            background-color: #ffffff;
            border-color: #ffffff;
          "
        ></div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="submit"
          formtarget="frmsponsor"
          form="frmsponsor"
          class="btn btn-primary btn-lg btnall"
          id="btnsend"
        >
          Send message
        </button>
      </div>
    </div>
  </div>
</div>
